body {
  background: #111e2f;
  color: white;
  font-family: "Georgia", serif;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-style: oblique;
}

h6 {
  font-size: 1em;
}

#row-space {
  height: 1.6em;
}

.links {
  font-size: 2em;
  text-align: center;
  font-style: italic;
}

img {
  width: 10em;
}

a {
  color: white;
}

footer {
  font-size: 1em;
}

.green:hover {
  color: #6bb99f;
  cursor: pointer;
}

.orange:hover {
  color: #e48656;
  cursor: pointer;
}

.yellow:hover {
  color: #f1df6a;
  cursor: pointer;
}
