body {
    background: #111E2F;
    color: white;
    font-family: "Georgia", serif;
    text-align: center;
}

h1 {
    font-size: 5em;
}

p {
    font-size: 1.5em;
}

#row-space {
    height: 8em;
}

.links {
    font-size: 3.75em;
    text-align: center;
}

img {
    width: 28em;
}

a {
    color: white;
}

.green:hover {
    color: #6BB99F;
    cursor: pointer;
}

.orange:hover {
    color: #E48656;
    cursor: pointer;
}

.yellow:hover {
    color: #F1DF6A;
    cursor: pointer;
}

footer {
    font-size: 1.25em;
}
